.horizontal-bars {
    width: 100%;
    height: 3px; 
    background-color: black; 
    margin-bottom: 1rem; 
    margin-top: 1rem;
  }
  
  #custom-cards h2 {
    margin-top: 1rem;
  }
  .custom-title{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px;
    font-family: Noto Sans, sans-serif; font-weight: 400; font-style: normal;
  }

  .featurette-divider {
    margin: 5rem 0; 
    background-color: black;
  }
  

  .featurette-heading {
    letter-spacing: -.05rem;
    
  }

  @keyframes rotate-clockwise {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(15deg); /* Rotación hacia un lado */
    }
    100% {
      transform: rotate(0deg); /* Revertir la rotación a 0 grados */
    }
  }
  
  @keyframes rotate-counter-clockwise {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-15deg); /* Rotación hacia el otro lado */
    }
    100% {
      transform: rotate(0deg); /* Revertir la rotación a 0 grados */
    }
  }
  
  
  
  .rotating-image {
    transition: transform 1s ease;
    animation: rotate-clockwise 15s linear infinite alternate; /* Animación de rotación en sentido horario */

    border-radius: 99999px;
    
  }
  
  .rotating-image-counter {
    transition: transform 1s ease;
    animation: rotate-counter-clockwise 15s linear infinite alternate; /* Animación de rotación en sentido horario */

    border-radius: 99999px;
    
  }
  .card-img-top {
    height: 200px; 
    object-fit: cover; 
  }
  
  .card-body {
    min-height: 120px; 
    font-family: Noto Sans, sans-serif; font-weight: 400; font-style: normal;
    background-color: rgba(235, 231, 231, 0.622);
  }
  .card-img {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: -1; 
  }


.custom-button {
  background-color: transparent; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
}


.custom-button .bi-plus-circle {
  font-size: 1em; 
  color: blue; 
}


.custom-button .button-text {
  margin-left: 0.5em; 
}


.custom-button:hover .bi-plus-circle {
  color: red; 
}

.form-div{

  padding: 30px;
}
.modal-content {
  margin: 20px; /* Ajusta el margen exterior del contenido del modal */
  padding: 20px; /* Ajusta el relleno interior del contenido del modal */
}

.modal-dialog {
  margin: 50px auto; /* Ajusta el margen alrededor del modal */
}
