<h1 class="text-center"> Registro de usuario</h1>

<form [formGroup]="registerForm" (ngSubmit)="save()">
  <div class="container mb-3">
    <div class="row">
      <div class="col-6 form-floating mb-3">
        <input type="text" class="form-control" id="firtsName"  formControlName="firtsName">
        <label for="firtsName"> First Name</label>
          
      </div>
      <div class="col-6 form-floating mb-3">

        <input type="text" class="form-control" id="lastName"  formControlName="lastName">
        <label for="lastName">Last Name</label>
          
      </div>
      <div class="col-6 form-floating mb-3">

        <input type="email" class="form-control" id="email"  formControlName="email">
        <label for="email">Email</label>
          
      </div>
      <div class="col-3 form-floating mb-3">
        <input type="number" class="form-control" id="phone"  formControlName="phone">
        <label for="phone">Telefono</label>
      </div>

      <div class="col-3 mb-3">
        <input type="datetime-local" class="form-control" id="birthdayDate"  formControlName="birthdayDate" >
        <label for="birthdayDate" ></label>
      </div>

      <div class="col-6 form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="password" >
        <label for="password">Password</label>
      </div>

      <div class="col-sm-7 mb-3">
        <input type="text" class="form-control" placeholder="calle" aria-label="calle">
      </div>

      <div class="col-sm mb-3">
        <input type="text" class="form-control" placeholder="City" aria-label="City">
      </div>

      <div class="col-sm mb-3">
        <input type="text" class="form-control" placeholder="CP" aria-label="CP">
      </div>
    </div>
    
    <div class=" form-check mb-3">
      <input class="form-check-input" type="checkbox"  id="available" formControlName="available">
      <label class="form-check-label" for="available" style="cursor: pointer">
        Estoy de acuerdo con los términos y condiciones
      </label> 
    </div>

    <button type="button" class="custom-btn" type="submit">Guardar</button>

  </div>  
</form>

