 .footer-custom {
    background-color: #1e1e1e;
    color:  #aaaaaa !important; 
   
}
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0; 
    margin-left: 0;  
  }
  .footer-custom .nav li a {
    color: #ffffff; 
}
.nav-item{

  color: #ffffff !important; 
}

.footer-custom a {
  background-color: #1e1e1e;
  color:  #aaaaaa !important; 
  transition: all 0.5s;

 
}
.footer-custom a:hover {
  background-color: #1e1e1e;
  color:  #06d3cc !important; 
 
}