@if (showSpinner) {

  <div class="loader-wrapper">
    <div class="packman"></div>
    <div class="dots">
        <div class="dot bi-fire"></div>
        <div class="dot bi-fire "></div>
        <div class="dot bi-fire"></div>
        <div class="dot bi-fire"></div>
    </div>
</div>

}@else {
<h1 class="mt-5 mb-5"></h1>
@if (showDeleteBookingMessage) {

<ngb-alert type="success" [dismissible]="false">Reserva eliminada correctamente</ngb-alert>
}



@if (booking)
{
<div class="container">
  <div class="row">



    <div class="col-md-4 col-sm-12 mt-5">
      <div class="container mt-5 mb-5">
        <div class="card overflow-hidden rounded-4">


          @if (booking.restaurant.imageUrl.includes('http')) {
          <!-- Si es url externa entonces ya trae la ruta completa absoluta-->
          <img [src]="booking.restaurant.imageUrl" alt="" style="width: 100%;">
          }
          @else{
          <!-- Si es url interna entonces hay que añadir delante del localhost:8080/files -->
          <img class="" [src]="'http://localhost:8080/files/' + booking.restaurant.imageUrl" alt="">

          }

        </div>
      </div>
    </div>


    <div class="col-lg-8 col-md-8 col-sm-12">
      <!--Icon grid-->
      <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Reserva numero: {{booking.id}}</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">

          <div class="col d-flex align-items-start">
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Cliente: </h3>
              <p>{{booking.user.firstName}} {{booking.user.lastName}}</p>
            </div>
          </div>


          <div class="col d-flex align-items-start">

            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Fecha de Reserva.</h3>
              <p>{{booking.createDate | date}}</p>
            </div>
          </div>

          <div class="col d-flex align-items-start">

            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Estatus de reserva.</h3>
              @if (booking.status) {
              <span class="badge text-bg-success mt-3">Activa</span>
              } @else{
              <span class="badge text-bg-danger mt-3">Inactiva</span>
              }
            </div>
          </div>
          <div class="col d-flex align-items-start">

            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Nro Clientes.</h3>
              <p>{{booking.numUsers}}</p>	
              <br>
            </div>
          </div>
          <div class="col d-flex align-items-start">

            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Servicios extra.</h3>
              <p>{{booking.extraService}}</p>	
              <br>
            </div>
          </div>
          <div class="col d-flex align-items-start">

            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Interior.</h3>
              <div>

                @if (booking.interior) {
                <span class="badge text-bg-success mt-3">Sí</span>
                } @else{
                <span class="badge text-bg-danger mt-3">No</span>
                }
              </div>
            </div>
          </div>
          
          <div class="col d-flex align-items-start">

            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Numero de mesa.</h3>
              <p>{{booking.numTable}}</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">

            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Restaurant.</h3>
              <span class="badge text-bg-success">{{booking.restaurant.name}}</span>
            </div>
          </div>
          
        
        </div>
        @if (isAdmin || isRestaurant) {
          <div class="buttons">
    
            <button class="btn btn-outline-success ms-2" [routerLink]="['/bookings', booking.id, 'update']">Editar
              Reserva</button>
    
            <button class="btn btn-outline-danger ms-2" (click)="delete(booking)">Borrar Reserva</button>
    
          </div>
    
          }
        
      </div>
      

    </div>
  </div>
</div>
}

<div class="container mb-5">
  <div class="row">
    <div class="col">
      <!---Acordeon NgBootstrap-->

      <h2 class="mt-3 mb-3 text-center">Preguntas Frecuentes</h2>

      <div ngbAccordion #accordion="ngbAccordion">
        <div ngbAccordionItem="first">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Politica de cancelación.</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <strong>¿La aplicación cobra alguna tarifa por las reservas?</strong> <br>
                No, la aplicación no cobra ninguna tarifa por las reservas. Es completamente gratuita. <br>

                <strong>¿Se cobra por cancelar una reserva?</strong><br>
                No, la cancelación de una reserva también es gratuita. Sin embargo, las políticas de cancelación están
                sujetas a cada restaurante. <br>

                <strong>¿Qué sucede si el restaurante cancela mi reserva?</strong> <br>

                BiteBooking no se hace responsable por cancelaciones por parte del restaurante. Actuamos como un
                servicio de intermediación para facilitar tus reservas. Sin embargo, cada restaurante puede cancelar, y
                es únicamente responsabilidad del restaurante. En BiteBooking nos comprometemos a la satisfacción del
                cliente, por lo cual, cuando un restaurante cancela sin previo aviso, recibe una baja puntuación por
                parte de nuestro staff.
              </ng-template>
            </div>
          </div>
        </div>
        <div ngbAccordionItem="second">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Alergias y consideraciones.</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                Cada restaurante tiene diferentes políticas en cuanto a las alergias y el manejo de ingredientes. Te
                recomendamos que revises las políticas de cada restaurante individual al hacer la reserva para
                asegurarte de que se satisfagan tus necesidades alimenticias de manera segura. Si tienes alguna alergia
                o consideración dietética, asegúrate de informar al restaurante al realizar la reserva.
              </ng-template>
            </div>
          </div>
        </div>
        <div ngbAccordionItem="three">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Responsabilidad.</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <strong>¿Cómo maneja BiteBooking las cancelaciones por parte del restaurante?</strong> <br>
                En caso de que un restaurante cancele tu reserva, BiteBooking tomará las medidas necesarias para garantizar tu satisfacción. Contactaremos contigo para discutir tus opciones y ayudarte a encontrar una alternativa satisfactoria. BiteBooking se compromete a garantizar que los clientes reciban un servicio de calidad y una experiencia gastronómica excepcional. <br>

                <strong>¿Recibiré algún tipo de compensación si mi reserva es cancelada por el restaurante?</strong> <br>
                Si tu reserva es cancelada por el restaurante, haremos todo lo posible para encontrar una solución alternativa que se adapte a tus necesidades. BiteBooking está comprometido con la satisfacción del cliente, y haremos todo lo posible para garantizar que tu experiencia sea lo más placentera posible.
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <hr />


      <button class="btn btn-sm btn-outline-dark me-2" (click)="accordion.expandAll()">Abrir
        todos</button>
      <button class="btn btn-sm btn-outline-dark me-2" (click)="accordion.collapseAll()">Cerrar
        todos</button>
    </div>
  </div>
</div>
}