.btn-outline-primary {
    color: black;
    border-color: black; 
}

.btn-outline-primary:hover {
    color: white; 
    background-color: black; 
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: #FFA33C;
    opacity: 0.7;
}