.custom-col {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.426);
  margin: 40px auto;
  border-radius: 40px;
  padding: 30px;
  max-width: 400px;
}

.text-gradient {
  background: linear-gradient(to right, #00ffdd, #cf74c0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.horizontal-bars {
  width: 100%;
  height: 3px;
  background-color: black;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.custom-title {
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 20px;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 300px) {
  .custom-col {
    margin-top: 50px;
    margin-bottom: 0;
  }
}

.btn {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.414);
  font-size: 18px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}

.btn:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
}

.hero {
  width: 100%;
  background-size: cover;
  position: relative;
  min-height: 60vh;
  padding: 100px 0 60px 0;
  margin-top: 20px; 
}

.hero h2 {
  font-size: 64px;
  font-weight: 600px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-family: var(--font-primary);
}

.hero h2 span {
  color: rgb(0, 0, 0);
}

.hero p {
  color: #000000;
  font-weight: 400;
  margin-bottom: 30px;
}

.section-bg {
  width: 100vw;
  height: 50vh;
  color: black;
  position: relative;
 
  z-index: 0;
  margin: 10px auto;
}

.custom-photo {
  border-radius: 100px;
  max-width: 100%;
  height: auto;
}

.custom-btn {
  margin-right: 30%; 
}

.img-fluid {
  border-radius: 30px;
}

.custom-row {
  margin-bottom: 70px;
}

@media screen and (max-width: 468px) {
  .hero {
    padding: 80px 0 40px 0; 
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .hero h2 {
    font-size: 48px; 
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .hero p {
    font-size: 16px; 
  }
}

@media screen and (max-width: 992px) {
  .hero {
    padding: 80px 0 40px 0; 
    margin-top: 150px; 
    margin-bottom: 100px;
  }

  .hero h2 {
    font-size: 48px; 
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .hero p {
    font-size: 16px; 
  }
}
.loader-wrapper {
  
  transform: translate(-50%, -50%);
  width: 30px; /* Ancho deseado */
  height: 30px; /* Alto deseado */

  margin-left: 50%;
  margin-top: 20%;
  margin-bottom: 30%;
}



.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.packman {
  position: relative;
}

.loader-wrapper .packman::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #FFA33C;
  border-radius: 100px 100px 0 0;
  transform: translate(-50%, -50%);
  animation: pac-top 0.5s linear infinite;
  transform-origin: center bottom;
}

.loader-wrapper .packman::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #FFA33C;
  border-radius: 0 0 100px 100px;
  transform: translate(-50%, 50%);
  animation: pac-bot 0.5s linear infinite;
  transform-origin: center top;
}

.bi-fire {
  animation: fireAnimation 3s infinite;
  color: #FFA33C;
  margin-bottom: 10px;
}

@keyframes registerAnimation {
  0% { color: #ffffff; }
  50% { color: #000000; }
  100% { color: #ffffff; }
}

@keyframes pac-top {
  0% {
    transform: translate(-50%, -50%) rotate(0)
  }

  50% {
    transform: translate(-50%, -50%) rotate(-30deg)
  }

  100% {
    transform: translate(-50%, -50%) rotate(0)
  }
}

@keyframes pac-bot {
  0% {
    transform: translate(-50%, 50%) rotate(0)
  }

  50% {
    transform: translate(-50%, 50%) rotate(30deg)
  }

  100% {
    transform: translate(-50%, 50%) rotate(0)
  }
}

.dots .dot {
  position: absolute;
  z-index: -1;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
}

.dots .dot:nth-child(1) {
  left: 90px;
  animation: dot-stage1 0.5s infinite;
}

.dots .dot:nth-child(2) {
  left: 60px;
  animation: dot-stage1 0.5s infinite;
}

.dots .dot:nth-child(3) {
  left: 30px;
  animation: dot-stage1 0.5s infinite;
}

.dots .dot:nth-child(4) {
  left: 10px;
  animation: dot-stage2 0.5s infinite;
}

@keyframes dot-stage1 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-24px, 0);
  }
}

@keyframes dot-stage2 {
  0% {
    transform: scale(1);
  }

  5%, 100% {
    transform: scale(0);
  }
}
