@if (showSpinner) {

  <div class="loader-wrapper">
    <div class="packman"></div>
    <div class="dots">
        <div class="dot bi-fire"></div>
        <div class="dot bi-fire "></div>
        <div class="dot bi-fire"></div>
        <div class="dot bi-fire"></div>
    </div>
</div>

}@else {
<div class="container">
  <div class="row mt-5">
    <section id="hero" class="hero d-flex align-items-center section-bg">
      <div class="container custom-row">
        <div class="row justify-content-between gy-5">
          <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
            <h2 data-aos="zoom-out" class="text-gradient">Crea<br>el destino de tu menú.</h2>
            <p data-aos="fade-up" data-aos-delay="200">En bitebooking, puedes llevar lo mejor de tu Gastronomía a tus
              clientes, sabemos lo importante que es ofrecer tus productos, con nosotros cuentas con una sección
              dedicada
              a promocionar lo mejor de tu cocina.</p>
          </div>
          <div class="col-lg-5">
            <img src="https://media.istockphoto.com/id/516329534/photo/last-straw.jpg?s=612x612&w=0&k=20&c=q9tScD01SPtN5QNAYgWG-ot4n_4hZXOgMStuFgmBFa8="
              class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
          </div>
        </div>
      </div>
    </section>
  </div>

  @if (menu) {

    <div class="row custom-row">
      <h2 class="pb-2 custom-title mt-5">Crear nuevo plato</h2>
    <div class="horizontal-bars"></div>
      <div class="col-lg-8 custom-col">
        <h1 class="my-5 text-center">Introducir datos</h1>
        <form [formGroup]="dishForm" (ngSubmit)="save()">
          <input type="hidden" formControlName="id">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" formControlName="title">
            <label for="title">Titulo de tu plato</label>
          </div>
          <div class="form-floating mb-3">
            <textarea class="form-control" id="description" formControlName="description" rows="5"></textarea>
            <label for="description">Describe tu plato</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="price" formControlName="price" step="0.01">
            <label for="price">Precio</label>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select" id="menu" formControlName="menu" [compareWith]="compareObjects">
              
              <option [ngValue]="menu">{{menu.title}}</option>
              
            </select>
            <label for="menu">Menú Asociado</label>
          </div>
          <div class="form-check mb-3 mt-3">
            <input class="form-check-input" type="checkbox" id="active" formControlName="active">
            <label class="form-check-label" for="active">Activo</label>
          </div>
          <div class="form-check mb-3 mt-3">
            <input class="form-check-input" type="checkbox" id="alergys" formControlName="alergys">
            <label class="form-check-label" for="alergys">Alergias</label>
          </div>
          <div class="input-group">
            <input type="file" class="form-control" id="photo" (change)="onFileChange($event)">
            <button class="w-100 btn btn-lg mb-5 mt-5" type="submit">Guardar</button>
          </div>
        </form>
      </div>
  
      <div class="col-lg-4 custom-col">
        @if (photoPreview) {
        <h2 class="my-5 text-center">Foto seleccionada</h2>
        <img class="img-fluid" [src]="photoPreview">
        }
        @if (!photoPreview && dish?.imgDish) {
        <h2 class="my-5">Foto de portada</h2>
        <img class="img-fluid" [src]="'http://localhost:8080/files/' + dish?.imgDish">
        }
      </div>
    </div>
  
    <div class="row">
  
     
          @if (selectedMenu && menu.id === selectedMenu.id ) {
          <div class="col-md-4">
            <div class="tab-content" id="menuContent">
              <div class="tab-pane fade show active" id="mains" role="tabpanel" aria-labelledby="mainsTab">
                <div class="row">
                  <div class="row-12">
                    <div class="py-3 border-bottom">
                      <div class="row">
                        <div class="col-2 align-self-center">
                          <div class="ratio ratio-1x1">
                            <img class="object-fit-cover" src="{{menu.imgMenu}}" alt="...">
                          </div>
                        </div>
                        <div class="col-7">
                          <h5 class="mb-2">{{menu.title}}</h5>
                          <p class="mb-0">{{menu.description}}</p>
                        </div>
                        <div class="col-2">
                        </div>
                        <div class="col-3 align-self-center">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          }
      
     
    </div>

    
  }

  
</div>
}
