<div class="row mt-5 p-5">
    <section id="hero" class="hero d-flex align-items-center section-bg">
        <div class="container custom-row">
            <div class="row justify-content-between gy-5">
                <div
                    class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                    <h2 data-aos="zoom-out" class="text-gradient">Sobre<br>nosotros.</h2>
                    <p data-aos="fade-up" data-aos-delay="200">Conoce mas sobre cada uno de los integrantes que estan
                        detras de BiteBooking</p>
                </div>

            </div>

        </div>
        <div class="col-lg-5 p-3">
            <img src="https://media.istockphoto.com/id/516329534/photo/last-straw.jpg?s=612x612&w=0&k=20&c=q9tScD01SPtN5QNAYgWG-ot4n_4hZXOgMStuFgmBFa8="
                class="img-fluid custom-img mb-5" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
    </section>
</div>

<section id="about" class="about">
    <div class="horizontal-bars"></div>
    <!-- ======= About Me Jehiel Linarez ======= -->
    <div class="about-me container">


        <div class="row">

            <h2><span class="custom-name">Jehiel Linarez</span></h2>

            <div class="col-lg-4" data-aos="fade-right">
                <img src="https://i.ibb.co/gzMWwzK/profile.jpg" class="img-fluid custom-img" alt="">
            </div>


            <div class="col-lg-8 pt-4 pt-lg-0 content text-gradient" data-aos="fade-left">




                <h3>Software Developer &amp; Full stack</h3>
                <p class="fst-italic text-justify">
                    Buscando nuevos retos, me he emprendido en este mundo de la programación, Actualmente me encuentro
                    estudiando Desarrollo web junto a la fundación Adecco, Certidevs y campus 42 de Telefonica, donde he
                    adquirido conocimientos y experiencia en tecnologías que me llevan a la capacidad de poder aceptar
                    nuevos retos, mi principal objetivo es muy simple, deseo empezar a trabajar en el mundo de la
                    programación, y poder aportar mis conocimientos y experiencias en el desarrollo de aplicaciones web.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>11 feb 1992</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                <span>https://jehiell.github.io/</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+34 643907051</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Madrid, España</span>
                            </li>
                            <li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Disp. geografica:</strong>
                                <span>Si</span>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>32</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Seniority:</strong> <span>Jr</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                                <span>jehiel.py&#64;gmail.com</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="text-justify">
                    "Este ultimo año para mi fue un sin fin de experiencias, donde he podido aprender y adquirir
                    conocimientos que llevare el resto de mi vida, estoy muy agradecido con todo mi equipo,hemos logrado
                    conectar y realizar un trabajo excepcional, mi profesor
                    Alan Sastre, Cristina Soler y la fundación Adecco por darme la oportunidad que ha cambiado mi vida,
                    espero continuar formandome y mi principal objetivo es adquirir un empleo que me lleve a desarrollar
                    y profundizar los conocimientos adquiridos."
                </p>
            </div>
        </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div data-aos="fade-up" class="counts container">

        <div class="row">



            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="bi bi-bricks"></i>

                    <strong>Aportes realizados</strong>
                    <p>Desde lo tecnológico brindando soporte a mis compañeros, realizando e implementando metodos,
                        funciones, arquitectura de software, desarrollo de producto, UI/UX, liderando y apoyando las
                        distintas etapas del desarrollo de BiteBooking.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-kanban"></i>

                    <strong>Futuros Proyectos</strong>
                    <p>Construir una Fuerte red laboral que me permita llevar adelante emprendimientos relacionados a la
                        hostelería, mi meta es muy simple, quiero llevar la hostelería y la teconología a un terreno
                        donde se puedan encontrar, </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-highlighter"></i>

                    <strong>Futuros Estudios</strong>
                    <p class="custom-p">Inmerso completamente en la tecnología, este año he sido aceptado como
                        estudiante del innovador
                        campus 42 Madrid fundación Telefonica, sera una de las distintas herramientas que utilizare para
                        continuar mi crecimiento profesional.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-person-workspace"></i>

                    <strong>Perfil laboral</strong>
                    <li>Full Stack Developer</li>
                    <li>Java Backend Developer</li>
                    <li>Angular Frontend Developer</li>
                    <li>UI/UX</li>

                </div>
            </div>

        </div>

    </div>
    <!-- End Counts -->
    <!-- ======= Interests ======= -->
    <div class="interests container">

        <div data-aos="fade-up" class="section-title">
            <h2>Principales teconologías</h2>
        </div>

        <div data-aos="fade-up" class="row">
            <div class="col-lg-3 col-md-4">
                <div class="icon-box">
                    <img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png" alt=""
                        style="max-width: 70px;">
                    <h3 class="p-3">Git</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="https://www.vectorlogo.zone/logos/java/java-icon.svg" alt="">

                    <h3 class="p-3">Java</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Angular</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <img src="https://cdn.worldvectorlogo.com/logos/spring-3.svg" alt="" style="max-width: 60px;">
                    <h3 class="p-3">Spring</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Python_logo_51.svg/1200px-Python_logo_51.svg.png"
                        alt="" style="max-width: 70px;">
                    <h3 class="p-3">Python</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://www.vectorlogo.zone/logos/mysql/mysql-official.svg" alt=""
                        style="max-width: 130px;">
                    <h3 class="p-3">SQL</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" alt=""
                        style="max-width: 80px;">
                    <h3 class="p-3">Bootstrap</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://icons.veryicon.com/png/o/business/vscode-program-item-icon/typescript-def.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Typescript</h3>
                </div>
            </div>


        </div>
        <div data-aos="fade-up" class="row">
            <div class="section-title mt-5">
                <h2>Tecnologías complementarías</h2>
            </div>

            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://1000logos.net/wp-content/uploads/2021/05/Trello-logo.png" alt=""
                        style="max-width: 100px;">
                    <h3></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img class="p-1" src="https://static-00.iconduck.com/assets.00/postman-icon-2048x2048-dsydvxav.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Postman</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Figma-logo.svg/1667px-Figma-logo.svg.png"
                        alt="" style="max-width: 40px;">
                    <h3 class="p-3">Figma</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Slack_icon_2019.svg/2048px-Slack_icon_2019.svg.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Slack</h3>
                </div>
            </div>
        </div>

    </div><!-- End Interests -->

    <div class="horizontal-bars"></div>

    <!-- ======= About Me Carlos Ramirez ======= -->
    <div class="about-me container">


        <div class="row">

            <h2><span class="custom-name">Carlos Feliz Ramirez</span></h2>

            <div class="col-lg-4" data-aos="fade-right">
                <img src="https://media.licdn.com/dms/image/D4E03AQHKlAUJ1DM2XA/profile-displayphoto-shrink_800_800/0/1682683426487?e=1718236800&v=beta&t=NauR4rYL0aGRJ8QrH310-5F5hHsFWVnYJVcbJZ-Qk8E"
                    class="img-fluid custom-img" alt="">
            </div>


            <div class="col-lg-8 pt-4 pt-lg-0 content text-gradient" data-aos="fade-left">




                <h3>Software Developer &amp; Full stack</h3>
                <p class="fst-italic text-justify">
                    Descripcion 1

                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span></span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                <span></span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span></span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Madrid, España</span>
                            </li>
                            <li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Disp. geografica:</strong>
                                <span></span>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Seniority:</strong> <span></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                                <span></span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="text-justify">
                    descripcion 2
                </p>
            </div>
        </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div data-aos="fade-up" class="counts container">

        <div class="row">



            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="bi bi-bricks"></i>

                    <strong>Aportes realizados</strong>
                    <p>detalles de aportes</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-kanban"></i>

                    <strong>Futuros Proyectos</strong>
                    <p> detalles futuros proyectos</p>
                </div>
            </div>
            <br>
            <div class="col-lg-3 col-md-6 ">
                <div class="count-box">
                    <i class="bi bi-highlighter"></i>

                    <strong>Futuros Estudios</strong>
                    <p class="custom-p">detalles futuros estudios.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-person-workspace"></i>

                    <strong>Perfil laboral</strong>
                    <li>lista</li>
                    <li>perfil </li>
                    <li>laboral</li>
                    <li>.</li>

                </div>
            </div>

        </div>

    </div>
    <!-- End Counts -->



    <!-- ======= Interests ======= -->
    <div class="interests container">

        <div data-aos="fade-up" class="section-title">
            <h2>Principales teconologías</h2>
        </div>

        <div data-aos="fade-up" class="row">
            <div class="col-lg-3 col-md-4">
                <div class="icon-box">
                    <img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png" alt=""
                        style="max-width: 70px;">
                    <h3 class="p-3">Git</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="https://www.vectorlogo.zone/logos/java/java-icon.svg" alt="">

                    <h3 class="p-3">Java</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Angular</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <img src="https://cdn.worldvectorlogo.com/logos/spring-3.svg" alt="" style="max-width: 60px;">
                    <h3 class="p-3">Spring</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Python_logo_51.svg/1200px-Python_logo_51.svg.png"
                        alt="" style="max-width: 70px;">
                    <h3 class="p-3">Python</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://www.vectorlogo.zone/logos/mysql/mysql-official.svg" alt=""
                        style="max-width: 130px;">
                    <h3 class="p-3">SQL</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" alt=""
                        style="max-width: 80px;">
                    <h3 class="p-3">Bootstrap</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://icons.veryicon.com/png/o/business/vscode-program-item-icon/typescript-def.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Typescript</h3>
                </div>
            </div>


        </div>
        <div data-aos="fade-up" class="row">
            <div class="section-title mt-5">
                <h2>Tecnologías complementarías</h2>
            </div>

            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://1000logos.net/wp-content/uploads/2021/05/Trello-logo.png" alt=""
                        style="max-width: 100px;">
                    <h3></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img class="p-1" src="https://static-00.iconduck.com/assets.00/postman-icon-2048x2048-dsydvxav.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Postman</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Figma-logo.svg/1667px-Figma-logo.svg.png"
                        alt="" style="max-width: 40px;">
                    <h3 class="p-3">Figma</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Slack_icon_2019.svg/2048px-Slack_icon_2019.svg.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Slack</h3>
                </div>
            </div>
        </div>

    </div><!-- End Interests -->

    <div class="horizontal-bars"></div>

    <!-- ======= About Me Ronald Veliz ======= -->
    <div class="about-me container">


        <div class="row">

            <h2><span class="custom-name">Ronald Veliz</span></h2>

            <div class="col-lg-4" data-aos="fade-right">
                <img src="https://images.ecestaticos.com/m7Ih9dvQiW4_WSHJJpSRHr7sDGg=/0x0:2272x1335/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fafd%2F69b%2Ffbb%2Fafd69bfbbcc5d09f45badb4f7dba9170.jpg"
                    class="img-fluid custom-img" alt="">
            </div>


            <div class="col-lg-8 pt-4 pt-lg-0 content text-gradient" data-aos="fade-left">




                <h3>Software Developer &amp; Full stack</h3>
                <p class="fst-italic text-justify">
                    Descripcion 1

                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span></span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                <span></span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span></span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Madrid, España</span>
                            </li>
                            <li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Disp. geografica:</strong>
                                <span></span>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Seniority:</strong> <span></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                                <span></span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="text-justify">
                    descripcion 2
                </p>
            </div>
        </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div data-aos="fade-up" class="counts container">

        <div class="row">



            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="bi bi-bricks"></i>

                    <strong>Aportes realizados</strong>
                    <p>detalles de aportes</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-kanban"></i>

                    <strong>Futuros Proyectos</strong>
                    <p> detalles futuros proyectos</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-highlighter"></i>

                    <strong>Futuros Estudios</strong>
                    <p class="custom-p">detalles futuros estudios.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-person-workspace"></i>

                    <strong>Perfil laboral</strong>
                    <li>lista</li>
                    <li>perfil </li>
                    <li>laboral</li>
                    <li>.</li>

                </div>
            </div>

        </div>

    </div>
    <!-- End Counts -->
    <!-- ======= Interests ======= -->
    <div class="interests container">

        <div data-aos="fade-up" class="section-title">
            <h2>Principales teconologías</h2>
        </div>

        <div data-aos="fade-up" class="row">
            <div class="col-lg-3 col-md-4">
                <div class="icon-box">
                    <img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png" alt=""
                        style="max-width: 70px;">
                    <h3 class="p-3">Git</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="https://www.vectorlogo.zone/logos/java/java-icon.svg" alt="">

                    <h3 class="p-3">Java</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Angular</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <img src="https://cdn.worldvectorlogo.com/logos/spring-3.svg" alt="" style="max-width: 60px;">
                    <h3 class="p-3">Spring</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Python_logo_51.svg/1200px-Python_logo_51.svg.png"
                        alt="" style="max-width: 70px;">
                    <h3 class="p-3">Python</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://www.vectorlogo.zone/logos/mysql/mysql-official.svg" alt=""
                        style="max-width: 130px;">
                    <h3 class="p-3">SQL</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" alt=""
                        style="max-width: 80px;">
                    <h3 class="p-3">Bootstrap</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://icons.veryicon.com/png/o/business/vscode-program-item-icon/typescript-def.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Typescript</h3>
                </div>
            </div>


        </div>
        <div data-aos="fade-up" class="row">
            <div class="section-title mt-5">
                <h2>Tecnologías complementarías</h2>
            </div>

            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://1000logos.net/wp-content/uploads/2021/05/Trello-logo.png" alt=""
                        style="max-width: 100px;">
                    <h3></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img class="p-1" src="https://static-00.iconduck.com/assets.00/postman-icon-2048x2048-dsydvxav.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Postman</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Figma-logo.svg/1667px-Figma-logo.svg.png"
                        alt="" style="max-width: 40px;">
                    <h3 class="p-3">Figma</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Slack_icon_2019.svg/2048px-Slack_icon_2019.svg.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Slack</h3>
                </div>
            </div>
        </div>

    </div><!-- End Interests -->

    <div class="horizontal-bars"></div>
    <!-- ======= About Me Jhon Marmolejo ======= -->
    <div class="about-me container">


        <div class="row">

            <h2><span class="custom-name">John Marmolejo</span></h2>

            <div class="col-lg-4" data-aos="fade-right">
                <img src="https://i.ibb.co/YjRBHTd/john.jpg" class="img-fluid custom-img" alt="">
            </div>


            <div class="col-lg-8 pt-4 pt-lg-0 content text-gradient" data-aos="fade-left">




                <h3>Software Developer &amp; Full stack</h3>
                <p class="fst-italic text-justify">
                    Apasionado por la tecnologia y la informatica queriendo expandir sus conocimientos y habilidades,
                    Actualmente soy un desarrolador web junior con tecnologias varias adquiridas en el curso de java de
                    fundación Adecco
                    y Escuela 42 donde fui candidato de estudiante en una de sus piscinas, enfocado y preparado para los
                    retos
                    estoy totalmente decidido a terminar mis formaciones y poder ejercerlas de la mejor manera.

                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>19 septiembre
                                    2004</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                <span></span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+34 647052919</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Madrid, España</span>
                            </li>
                            <li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Disp. geografica:</strong>
                                <span>si</span>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>19</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Seniority:</strong> <span>junior</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                                <span>tatamarcas273&#64;gmail.com</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div data-aos="fade-up" class="counts container">

        <div class="row">



            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="bi bi-bricks"></i>

                    <strong>Aportes realizados</strong>
                    <p>He aportado de manera activa en el proyecto bitebooking junto a mis compañeros de clase tanto asi
                        como en telefonica madrid durante el curso de piscina 42.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-kanban"></i>

                    <strong>Futuros Proyectos</strong>
                    <p> la ambicion y ganas de aprener me va a levar por un largo camino donde tendre que explorar
                        y seguramente tendre variedad de Proyectos en los cuales colaboraré.
                    </p>
                </div>
            </div>
            <br>
            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-highlighter"></i>

                    <strong>Futuros Estudios</strong>
                    <p class="custom-p">aparte del desarrollo web me interesa la inteligencia artifial
                        quiero volver a sumergirme en la experiencia de telefonica madrid y aumentar mis conocimientos
                        sobre la programación

                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-person-workspace"></i>

                    <strong>Perfil laboral</strong>
                    <li>Full Stack Developer</li>
                    <li>Java Backend Developer</li>
                    <li>Angular Frontend Developer</li>
                    <li>UI/UX</li>


                </div>
            </div>

        </div>

    </div>
    <!-- End Counts -->
    <!-- ======= Interests ======= -->
    <div class="interests container">

        <div data-aos="fade-up" class="section-title">
            <h2>Principales teconologías</h2>
        </div>

        <div data-aos="fade-up" class="row">
            <div class="col-lg-3 col-md-4">
                <div class="icon-box">
                    <img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png" alt=""
                        style="max-width: 70px;">
                    <h3 class="p-3">Git</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="https://www.vectorlogo.zone/logos/java/java-icon.svg" alt="">

                    <h3 class="p-3">Java</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Angular</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <img src="https://cdn.worldvectorlogo.com/logos/spring-3.svg" alt="" style="max-width: 60px;">
                    <h3 class="p-3">Spring</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Python_logo_51.svg/1200px-Python_logo_51.svg.png"
                        alt="" style="max-width: 70px;">
                    <h3 class="p-3">Python</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://www.vectorlogo.zone/logos/mysql/mysql-official.svg" alt=""
                        style="max-width: 130px;">
                    <h3 class="p-3">SQL</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" alt=""
                        style="max-width: 80px;">
                    <h3 class="p-3">Bootstrap</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://icons.veryicon.com/png/o/business/vscode-program-item-icon/typescript-def.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Typescript</h3>
                </div>
            </div>


        </div>
        <div data-aos="fade-up" class="row">
            <div class="section-title mt-5">
                <h2>Tecnologías complementarías</h2>
            </div>

            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://1000logos.net/wp-content/uploads/2021/05/Trello-logo.png" alt=""
                        style="max-width: 100px;">
                    <h3></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img class="p-1" src="https://static-00.iconduck.com/assets.00/postman-icon-2048x2048-dsydvxav.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Postman</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Figma-logo.svg/1667px-Figma-logo.svg.png"
                        alt="" style="max-width: 40px;">
                    <h3 class="p-3">Figma</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Slack_icon_2019.svg/2048px-Slack_icon_2019.svg.png"
                        alt="" style="max-width: 60px;">
                    <h3 class="p-3">Slack</h3>
                </div>
            </div>
        </div>

    </div>

    <!-- End Interests -->
    <div class="horizontal-bars"></div>
    <!--Contactanos-->


    <section id="contacto">
        <div class="form-container">
            <div class="form">

                <h3 class="titulo-seccion custom-title ms-2 p-2">Contáctanos ahora</h3>
                <div class="form-group">
                    <form action="https://formsubmit.co/biteandbooking@gmail.com" method="POST">

                        <div class="labels">
                            <input type="text" name="name" id="name" placeholder="Nombre Completo" class="input-mitad"
                            required>
                        <br>
                        <input type="email" name="email" id="email" placeholder="Dirección de Email" class="input-mitad"
                            required>


                        <input type="text" name="subject" id="subject" placeholder="Asunto..." class="input-full">


                        <textarea name="message" id="message" cols="30" rows="10" placeholder="Tu Mensaje..."
                            class="input-full" required></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                        <input type="hidden" name="_next" value="http://localhost:4200/">
                        <input type="hidden" name="_captcha" value="false">
                    </form>

                </div>

            </div>
        </div>


    </section>


    <section class="asking">
        <div class="horizontal-bars"></div>

        <div class="container mb-5">
            <div class="row">
                <div class="col">
                    <!---Acordeon NgBootstrap-->

                    <h2 class="mt-3 mb-3 text-center">Preguntas Frecuentes</h2>

                    <div ngbAccordion #accordion="ngbAccordion">
                        <div ngbAccordionItem="first">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>¿Porque Bite Booking?.</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad
                                        squid. 3 wolf
                                        moon
                                        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                        laborum
                                        eiusmod. Brunch
                                        3 wolf
                                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                        assumenda
                                        shoreditch et.
                                        Nihil anim
                                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident.
                                        Ad vegan
                                        excepteur
                                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                        aesthetic synth
                                        nesciunt you
                                        probably
                                        haven't heard of them accusamus labore sustainable VHS.
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem="second">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>¿Como fue el desarrollo del equipo?</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad
                                        squid. 3 wolf
                                        moon
                                        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                        laborum
                                        eiusmod. Brunch
                                        3 wolf
                                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                        assumenda
                                        shoreditch et.
                                        Nihil anim
                                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident.
                                        Ad vegan
                                        excepteur
                                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                        aesthetic synth
                                        nesciunt you
                                        probably
                                        haven't heard of them accusamus labore sustainable VHS.
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div ngbAccordionItem="three">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>¿Cual es el futuro del proyecto?</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad
                                        squid. 3 wolf
                                        moon
                                        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                        laborum
                                        eiusmod. Brunch
                                        3 wolf
                                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                        assumenda
                                        shoreditch et.
                                        Nihil anim
                                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident.
                                        Ad vegan
                                        excepteur
                                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                        aesthetic synth
                                        nesciunt you
                                        probably
                                        haven't heard of them accusamus labore sustainable VHS.
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />


                    <button class="btn btn-sm btn-outline-dark me-2" (click)="accordion.expandAll()">Abrir
                        todos</button>
                    <button class="btn btn-sm btn-outline-dark me-2" (click)="accordion.collapseAll()">Cerrar
                        todos</button>
                </div>
            </div>
        </div>

    </section>