.btn-secondary {
    background-color: rgba(132, 132, 132, 0.542);
    border-color: rgba(132, 132, 132, 0.542);
    height: 40px;
    margin-right: 10px;
    border-radius: 40px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
  }
  
  .btn-secondary:hover {
    background-color: rgba(0, 0, 0, 0.529);
    border-color: black;
  }
  