.btn-secondary{
    background-color: rgba(255, 255, 255, 0.7);
    height: 40px;
    margin-right: 10px;
}

.btn-primary{
    background-color: rgba(255, 255, 255, 0.7);
    height: 40px;
    margin-right: 10px;
    border-color: black;
}