<ngb-carousel [interval]="carruselIntervalo">
    @for (restaurant of restaurants; track restaurant.id) {
    <ng-template ngbSlide>
        <div class="card mx-auto mb-5" style="cursor: pointer;" [routerLink]="['/restaurant',restaurant.id,'detail']"> 
            <img [src]="restaurant.imageUrl" class="card-img-top" [alt]="restaurant.name">
            <div class="card-body">
                <h5 class="card-title">{{restaurant.name}}</h5>
                <p class="card-text">Tipo: {{restaurant.restaurantType}}. Rating: {{restaurant.averageRating}}</p>
                <a [routerLink]="['/bookings', restaurant.id,'update']" class="btn btn-outline-dark">Reservar</a>
            </div>
        </div>
    </ng-template>
}
</ngb-carousel>