/* Estilos básicos para el carrusel */
.ngb-carousel .carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos de la tarjeta dentro del carrusel */
.card {
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgb(255, 254, 254);
  border-radius: 0.75rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
  background-color: transparent;
}

/* Efecto al pasar el mouse sobre la tarjeta */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 16px rgb(255, 255, 255);
}

/* Imagen de la tarjeta */
.card-img-top {
  width: 100%;
  height: 240px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio asignado */
  transition: filter 0.5s ease-in-out;
}

/* Efecto al pasar el mouse sobre la imagen de la tarjeta */
.card-img-top:hover {
  filter: grayscale(0);
}

/* Cuerpo de la tarjeta */
.card-body {
  padding: 1rem;
  background-color: transparent; /* Fondo con algo de transparencia */
}

/* Título de la tarjeta */
.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-shadow: 0 .125rem .25rem rgba(252, 249, 249, 0.959);
  color: #fcfdfd;
}

/* Texto de la tarjeta */
.card-text {
  font-size: 1rem;
  text-shadow: 0 .125rem .25rem rgba(253, 251, 251, 0.25);
  color: #fcfdfd;
}

/* Botón de la tarjeta */
.btn-outline-dark {
  border-color: #ffffff;
  color: #fcfdfd;
  transition: all 0.3s ease-in-out;
}

/* Efecto al pasar el mouse sobre el botón de la tarjeta */
.btn-outline-dark:hover {
  background-color: rgb(1, 225, 255);
  color: #fff;
}
