.card-img-top {
    height: 200px;
    object-fit: cover; 
    width: 100%;
  }
  .carousel{
    background-size: cover;
    background-position: center;
  }

  .btn-primary {
    color: black;
    border-color: black; 
    background-color: white;
}

.btn-primary:hover {
    color: white; 
    background-color: black; 
}
