
<div class="container ">
 
    <form [formGroup]="registerRestaurantForm" (ngSubmit)="save()">
      <div class="text-center">
      </div>
      <div class="row"> 
              <div class="col-12 text-center">  
                <h1 class="h3 mb-3 fw-normal">Registrate Usuario</h1>
              </div>  
              <div class="col-6 form-floating mb-3">
                <input type="text" class="form-control" id="firtsName" placeholder="firtsName" formControlName="firtsName">
                <label for="firtsName">First Name *</label>
                @if (registerRestaurantForm.controls.firtsName.touched && registerRestaurantForm.controls.firtsName.errors) {
                  <div>
                    <small class="text-danger">Se Requiere un firts Name</small>
                  </div>
                }
              </div>
              <div class="col-6 form-floating mb-3">
                <input type="text" class="form-control" id="lastName" placeholder="lastName" formControlName="lastName">
                <label for="lastName">Last Name *</label>
                @if (registerRestaurantForm.controls.lastName.touched && registerRestaurantForm.controls.lastName.errors) {
                  <div>
                    <small class="text-danger">Se Requiere un Last Name</small>
                  </div>
                }
              </div>
              <div class="col-6 form-floating mb-3">
                <input type="datetime-local" class="form-control" id="birthdayDate"  formControlName="birthdayDate" >
                <label for="birthdayDate" >Fecha de Nacimiento</label>
              </div>
              <div class="col-6 form-floating mb-3">
                <input type="number" class="form-control" id="phone" placeholder="640365012" formControlName="phone">
                <label for="phone">Telefono Móvil *</label>
                @if (registerRestaurantForm.controls.phone.touched && registerRestaurantForm.controls.phone.errors) {
                  <div>
                    @if (registerRestaurantForm.controls.phone.errors['required']) {
                      <small class="text-danger">Se Requiere un Phone</small>
                    }
                    @if (registerRestaurantForm.controls.phone.errors['pattern']) {
                      <small class="text-danger">Formato de Telefono Incorrecto. Debe de Tener 9 digitos.</small>
                    }
                  </div>
                }
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="password" placeholder="name@example.com" formControlName="email">
                <label for="email">Email address *</label>
                @if (registerRestaurantForm.controls.email.touched && registerRestaurantForm.controls.email.errors) {
                  <div>
                    @if (registerRestaurantForm.controls.email.errors['required']) {
                      <small class="text-danger">Se Requiere un Email</small>
                    }
                    @if (registerRestaurantForm.controls.email.errors['email']) {
                      <small class="text-danger">El Formato del Email es Incorrecto</small>
                    }               
                  </div>
                }
               
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="Password" placeholder="password" formControlName="password">
                <label for="password">Password *</label>
                
                
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="passwordConfirm" placeholder="password" formControlName="passwordConfirm">
                <label for="passwordConfirm">Confirme Password *</label>
                @if(
                  registerRestaurantForm.controls.passwordConfirm.touched &&
                    (
                      registerRestaurantForm.controls.password.errors ||
                      registerRestaurantForm.controls.passwordConfirm.errors ||
                      registerRestaurantForm.getError('confirmError')
                    )
                  ) {
                    <small class="text-danger">
                      La contraseña y confirmación son obligatorias, deben coincidir y estar comprendidas entre 8 y 30 caracteres.
                    </small>
                }
                  
              </div>
              
              <div class="text-center">
                <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="registerRestaurantForm.invalid" >Guardar</button>
                @if (registerRestaurantForm.invalid) {
                  <small class="text-danger">Completa los Campos Obligatorios</small>
                }
              </div>
             
              
              <p class="mt-5 mb-3 text-body-secondary">© 2024-Bite-Booking</p>
        </div>      
      </form>
        
    
      
    
    </div>