<div class="container">

  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div
          class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="zoom-out">Tu menú<br>al alcance de un click.</h2>
          <p data-aos="fade-up" data-aos-delay="200">En bitebooking, puedes llevar lo mejor de tu Gastronomía a tus
            clientes, sabemos lo importante que es ofrecer tus productos, con nosotros cuentas con una sección dedicada
            a promocionar lo mejor de tu cocina.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">

            <button class="w-100 btn  btn-lg mb-5 mt-5" type="submit">Ir a favoritos</button>


          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section>

  <div class="row mt-5 mb-5" data-aos="zoom-in-up" data-aos-delay="300">

    <h2 class="pb-2 custom-title mt-3">¡Crea tu Menú Ahora!</h2>
    <div class="horizontal-bars"></div>


    <div class="col-lg-4 ">

      @if (photoPreview) {
      <h2 class="my-5 title-portada">Foto de portada seleccionada</h2>
      <img class="img-fluid" [src]="photoPreview">
      }
      @if (!photoPreview && menu?.imgMenu) {
      <h2 class="my-5 text-center">Foto de portada</h2>
      <img class="img-fluid" [src]="'http://localhost:8080/files/' + menu?.imgMenu">
      }



    </div>
    <div class="col-lg-8 custom-col">

      
      <h1 class="my-5 text-center">Introducir datos de Menú</h1>

      <form [formGroup]="menuForm" (ngSubmit)="save()">
        @if (isUpdate) {
        <h1 class="mt-5 mb-5 custom-title">Actualizar menu existente: {{menuForm.get('title')?.value}}</h1>
      }
      @else {
        <h1 class="mt-5 mb-5 custom-title">Crear un nuevo menú</h1>
      }
      
      @if (isUpdate && restaurant) {
        <h2 class="mt-5 mb-5 custom-title">Menú de: {{restaurant.name}}</h2>
      }
      

        <input type="hidden" formControlName="id">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="title" formControlName="title">
          <label for="title">Titulo del menu</label>
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" id="description" formControlName="description" rows="5"></textarea>
          <label for="description">Describe tu Menú</label>
        </div>

        <div class="form-floating mb-3">
          <select class="form-select" id="restaurantType" formControlName="restaurantType">
            <option value="JAPANESE_FOOD">Japones</option>
            <option value="THAI_FOOD">Thai Food</option>
            <option value="SPAIN_FOOD">Gastronomía Española</option>
            <option value="CHINESE_FOOD">Comida China</option>
            <option value="BRUNCH">Brunch</option>
            <option value="COFFEE_STORE">Cafetería</option>
            <option value="BAR">Bar & Mixology</option>
            <option value="VIETNAM_FOOD">Vietnamita</option>
            <option value="FRENCH_FOOD">Gastronomía Francesa</option>
            <option value="TEX_MEX_FOOD">Tex Mex Food</option>
            <option value="KOREAN_FOOD">Koreana</option>
            <option value="VEGAN_FOOD">Vegan</option>
            <option value="AMERICAN_FOOD">Americana</option>
            <option value="GERMAN_FOOD">Bavarian Food</option>
            <option value="PORTUGUESE_FOOD">Gastronomía Portugues</option>
            <option value="FUSION_FOOD">Fusion & Molecular</option>
            <option value="GREEK_FOOD">Griega</option>
            <option value="INDIAN_FOOD">Comida Hindí</option>
            <option value="PERUVIAN_FOOD">Gastronomía Peruana</option>
            <option value="CANADIAN_FOOD">Canadiense</option>
            <option value="DOMINICAN_FOOD">Dominicana</option>
            <option value="BALKAN_FOOD">Europea</option>
            <option value="GEORGIAN_FOOD">Gergian Food</option>
            <option value="ARABIAN_FOOD">Gastronomía Arabe</option>
            <option value="MARRAKECH_FOOD">Marrakech</option>
            <option value="ASIAN_FOOD">Asiatica</option>
            <option value="AFRICAN_FOOD">Gastronomía Africana</option>
            <option value="MAGHREB_FOOD"></option>
            <option value="CARIBBEAN_FOOD">Caribeña</option>

          </select>
          <label for="restaurantType">Tipo de Gastronomía</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-select" id="restaurant" formControlName="restaurant" [compareWith]="compareObjects">

            @if (restaurant) {
              <option [ngValue]="restaurant">{{restaurant.name}}</option>
              <label for="restaurant">Restaurant asociado</label>
              }

          </select>
          <label for="restaurant">Restaurant Asociado</label>
      </div>
        <div class="form-check mb-3 mt-3">
          <input class="form-check-input" type="checkbox" id="active" formControlName="active">
          <label class="form-check-label" for="active">
            Activo
          </label>
        </div>
        <div class="form-check mb-3 mt-3">
          <input class="form-check-input" type="checkbox" id="alergys" formControlName="alergys">
          <label class="form-check-label" for="alergys">
            Alergias
          </label>
        </div>
        <div class="input-group">
          <input type="file" class="form-control" id="photo" (change)="onFileChange($event)">

          <button class="w-100 btn  btn-lg mb-5 mt-5" type="submit">Guardar</button>

        </div>



      </form>



    </div>


  </div>

  
  
</div>
