<div class="container my-5 p-3 bg-white shadow-sm rounded">
  <div class="row">
    <div class="col-md-6 mb-3 mb-md-0">
      <img [src]="restaurant?.imageUrl" [alt]="restaurant?.name" class="img-fluid rounded">
    </div>
    <div class="col-md-6">
      <h1 class="h2">{{restaurant?.name}}</h1>
      <div class="mb-3">
        <p class="btn btn-outline-dark me-2">Tipo de Cocina: {{getRestaurantType(restaurant?.restaurantType)}}</p>
        <p href="tel:123456789" class="btn btn-outline-dark me-2">📞{{restaurant?.phone}}</p>
          @if (restaurant?.status){
              <p class="bi bi-bag-check-fill btn btn-outline-dark me-2">Abierto</p>
          } @else {
              <p class="bi bi-bag-x btn btn-outline-dark me-2">Cerrado</p>
          }
        <p class="btn btn-outline-dark me-2">🌟{{restaurant?.averageRating}}</p>
        <p class="btn btn-outline-dark me-2">Horario {{restaurant?.openingTime | date:"HH:mm"}}, Hasta : {{restaurant?.closingTime | date:"HH:mm"}}</p>
        <div>
          <button class="btn btn-outline-dark  btn-sm" [routerLink]="['/bookings', restaurant?.id, 'reserve']">Reservar</button>
  
        </div>
      </div>
      
      

      
      <div class="fw-bold fs-4">Descripción</div>
      {{restaurant?.description}}
    </div>
    
  
  </div>
  
<div class="menu-section py-4">
  <h2 class="h5 mb-3">Menús</h2>
  <div class="row">
    @for (Menu of Menus; track Menu) {
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img class="card-img-top" [src]="Menu.imgMenu" alt="Dish 1">
        <div class="card-body">
          <h5 class="card-title">{{Menu.title}}</h5>
          <p class="card-text">{{Menu.description}}</p>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
  }
  </div>
</div>

<div>
  <button class="btn btn-outline-dark me-2" [routerLink]="['/menus',restaurant?.id, 'create']">Crear Menu</button>
  <button class="btn btn-outline-dark me-2" [routerLink]="['/restaurant',restaurant?.id,'update']">Actualizar mi restaurante</button>
</div>

  <div class="recommendation-section py-4">
    <h2 class="h5 mb-3">Recomendaciones de Restaurantes</h2>
    <div class="row">
      @for (restaurant of recommendedRestaurants; track restaurant) {
        <div class="col-md-4 mb-3">
          <div class="card h-100" [routerLink]="['/restaurant',restaurant.id,'detail']" style="cursor: pointer;">
            <img class="card-img-top" [src]="restaurant.imageUrl" alt="Restaurants">
            <div class="card-body">
              <h5 class="card-title">{{restaurant.name}}</h5>
              <p class="card-text">{{restaurant.description}}</p>
              <div class="card-footer">
              </div>
            </div>
          </div>
        </div>
      }
      </div>
</div>
