.other-recommendations .recommendation {
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: .25rem;
  }
  /* Tamaño uniforme : Cuidado aqui */
.carousel-item {
  display: flex;
  justify-content: center;
}

.card {
  flex: 0 0 auto;
  width: 100%;
  border-image-width: 100px;
  height: 100%;
}

/* la misma altura */
.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%; 
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title,
.card-text {
  flex-grow: 1; /* Esto permite que el título y el texto ocupen el espacio disponible */
}

/* capricho para que los precios esten siempre debajo */
.card-price {
  margin-top: auto;
}
