.other-recommendations .recommendation {
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: .25rem;
  }
.carousel-item {
  display: flex;
  justify-content: center;
}

.card {
  flex: 0 0 auto;
  width: 100%;
  border-image-width: 100px;
  height: 100%;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title,
.card-text {
  flex-grow: 1; 
}
.img-fluid{
  display: flex;
  flex-direction: column;
  height: 400px;
  object-fit: cover;
  width: 200%;
}
.custom-btn {
  
  font-size: 15px;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: .25rem;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
 }
 .btn-primary {
  background: linear-gradient(to right, #007bff, #b30092); /* Degradado de izquierda a derecha */
  border: none; /* Eliminar borde */
  transition: background-position 0.3s ease; /* Transición suave */
  background-size: 200% auto; /* Tamaño del degradado */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Ajusta el padding para controlar el tamaño */
  min-width: 520px;
}

.btn-primary:hover {
  background-position: right center; 
}