<mat-accordion class="mt-4" multi="true">
  <!-- Detalle del Restaurante -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Detalle del Restaurante
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Descripción breve del restaurante.</p>
    <div class="text-muted">Precio promedio: €XX por persona</div>
  </mat-expansion-panel>

  <!-- Menús -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Menús
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- Añade detalles de menús aquí -->
    <div class="card mb-3">
      <div class="card-body">
        <p>Detalle del menú.</p>
        <p><small class="text-muted">Precio: €XX</small></p>
      </div>
    </div>
  </mat-expansion-panel>

  <!-- Galería de Imágenes -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Galería de Imágenes
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- Añade la galería de imágenes aquí -->
  </mat-expansion-panel>

  <!-- Valoraciones -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Valoraciones
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- Añade las valoraciones aquí -->
  </mat-expansion-panel>
</mat-accordion>

  
  