.container-cocinas {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .header-cocinas {
    background: rgba(132, 132, 132, 0.542);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  .header-cocinas h1 {
    color: aqua;
    margin: 0;
    flex: 1; /* Permite que el h1 ocupe todo el espacio disponible para centrarse */
    text-align: center; /* Asegura que el texto dentro de h1 esté centrado */
  }
  
  .close-button {
    border: none;
    background: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .listado-cocinas {
    padding: 20px;
  }
  
  .listado-cocinas h2 {
    margin: 20px 0 10px;
  }
  
  .listado-cocinas ul {
    list-style: none;
    padding: 0;
  }
  
  .listado-cocinas li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
  }
  
  .listado-cocinas li:last-child {
    border-bottom: none;
  }
  