main{
    padding: 0px;
}
.btn-retroceder {
    position: fixed;
    top: 120px;
    left: 20px;
    z-index: 1000;
    background-color: #0fdceb;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.btn-retroceder:hover {
    background-color: #04686b;
}

.bi-chevron-bar-left {
    font-size: 24px;
    color: #333;
}