@if (showSpinner) {
    <div class="loader-wrapper">
      <div class="packman"></div>
      <div class="dots">
          <div class="dot bi-fire"></div>
          <div class="dot bi-fire "></div>
          <div class="dot bi-fire"></div>
          <div class="dot bi-fire"></div>
      </div>
  </div>
  }@else{
  <div class="not-found-container">
      <div class="not-found">
        <h1 display-1>Bite Booking</h1>
        <p fs-3>No tienes reservas pendientes.</p>
        <a><button routerLink="/restaurant-list" class="btn-btn-primary home-link" type="button">Reservar</button></a>
        
        
      </div>
    </div>
  }