<div class="container ">
  <div class="row">
    <div class="col-lg-6 d-md-block img-fluid  text-center">
      <img style="opacity: 0.5; " src="./assets/img/logo_bitebooking.png" alt="login">
    </div>

    <div class="col-lg-6">
      <form class="mt-5" [formGroup]="registerUserForm" (ngSubmit)="save()">
        <div class="text-center">
          <h1 class="h3 mb-3 mt-1 fw-normal">Registrate</h1>
        </div>

        <div class="coolinput form-floating mb-3">
          <input type="text" class="form-control" id="firstName" placeholder="" formControlName="firstName">
          <label for="firstName">Nombres*</label>
          @if (registerUserForm.controls.firstName.touched && registerUserForm.controls.firstName.errors) {
          <div>
            <small class="text-danger">Introduce un Nombre</small>
          </div>
          }
        </div>

        <div class="coolinput form-floating mb-3">
          <input type="text" class="form-control" id="lastName" placeholder="lastName" formControlName="lastName">
          <label for="lastName">Apellido</label>
          
        </div>

        <div class="coolinput form-floating mb-3">
          <input type="datetime-local" class="form-control" id="birthdayDate" formControlName="birthdayDate">
          <label for="birthdayDate">Birthdate</label>
        </div>

        <div class="coolinput form-floating mb-3">
          <input type="number" class="form-control" id="phone" placeholder="640365012" formControlName="phone">
          <label for="phone">Telefono*</label>
          @if (registerUserForm.controls.phone.touched && registerUserForm.controls.phone.errors) {
          <div>
            @if (registerUserForm.controls.phone.errors['required']) {
            <small class="text-danger">Introduce un Telefono</small>
            }
            @if (registerUserForm.controls.phone.errors['pattern']) {
            <small class="text-danger">Formato de teléfono incorrecto. Debe tener 9 dígitos.</small>
            }
          </div>
          }
        </div>

        <div class="coolinput form-floating mb-3">
          <input type="email" class="form-control" id="password" placeholder="name@example.com" formControlName="email">
          <label for="email">Correo Electronico *</label>
          @if (registerUserForm.controls.email.touched && registerUserForm.controls.email.errors) {
          <div>
            @if (registerUserForm.controls.email.errors['required']) {
            <small class="text-danger">Se Requiere un Correo</small>
            }
            @if (registerUserForm.controls.email.errors['email']) {
            <small class="text-danger">El formato del correo electrónico es incorrecto</small>
            }
          </div>
          }

        </div>

        <div class="coolinput form-floating mb-3">
          <input type="password" class="form-control" id="Password" placeholder="password" formControlName="password">
          <label for="password">Contraseña *</label>


        </div>

        <div class="coolinput form-floating mb-3">
          <input type="password" class="form-control" id="passwordConfirm" placeholder="password"
            formControlName="passwordConfirm">
          <label for="passwordConfirm">Confirme la Contraseña *</label>
          @if(
          registerUserForm.controls.passwordConfirm.touched &&
          (
          registerUserForm.controls.password.errors ||
          registerUserForm.controls.passwordConfirm.errors ||
          registerUserForm.getError('confirmError')
          )
          ) {
          <small class="text-danger ">
            La contraseña y confirmación son obligatorias, deben coincidir y estar comprendidas entre 8 y 30 caracteres.
          </small>
          }

        </div>

        <div class="mb-3 text-end">

          <button class="custom-btn " type="submit" [disabled]="registerUserForm.invalid">Guardar</button>
          <button class="custom-btn " routerLink="/home" type="submit">Cancelar</button>
        </div>
      </form>

    </div>
  </div>
  <div>
    <p class="mt-1 text-body-secondary text-star">© 2024-Bite-Booking</p>
  </div>
</div>