
.container{
    font-size: 1rem;
    color: black;
    padding: 0 3px;
    background:white;
    font-family: Noto Sans, sans-serif; font-weight: 400; font-style: normal;   
    align-items: center;
  }
h1{
    font-size: 3rem;
    font: weight 50px;
    font-family: Noto Sans, sans-serif; font-weight: 400; font-style: normal;   
    margin-top: 20px;
}
form{
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0, .25);
} 
.custom-btn {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: Noto Sans, sans-serif;
  font-weight: 500;
  color: white;
  background-color: #4b0f4a;
 }
 .button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

   
   .custom-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .custom-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .custom-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .custom-btn::after {
    background-color: #fff;
   }
   
   .custom-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }
   
  .coolinput input {
    border: 3px #4b0f4a solid;
    border-radius: 20px;
    
  }
 
  
   




  
