.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.col {
  flex: 1 0 50%;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.form-side {
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0px 2px 8px rgb(0, 0, 0);
  margin: 50px auto;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 500px;
  width: 100%; 
}



.custom-calender{
  text-decoration: none;
  color: white;

}
.card-cover {
  background-image: url('https://imgbb.host/images/e6OB.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%; 
  animation-name: slideMove;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  border-radius: 15px;
  box-shadow: 0px 2px 8px rgb(0, 0, 0);
  margin: 50px auto;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 500px;
  width: 100%; 
 
}
@keyframes slideMove {

0% {
    background-size: 50%;
}

50% {
  background-size: 60%;
}
}





.reservation-info {
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgb(0, 0, 0);
  transition: all 0.3s ease;
  /* Agregar animación de cambio de color */
  animation: changeColor 5s infinite alternate;
}

@keyframes changeColor {
  0% {
      background-color: rgba(180, 124, 124, 0.379);
  }
  50% {
      background-color: #ffa43cad;
  }
  100% {
      background-color: rgba(14, 171, 140, 0.379);
  }
}
.container-fluid {
  max-width: 1200px; /* Establece el ancho máximo del contenedor principal */
  margin: 0 auto; /* Centra el contenedor en la página */
}



.reservation-info .p{

  margin: 10px 0;
  font-size: 16px;
  color: white;
  font-family: Noto Sans, sans-serif; font-weight: 400; font-style: normal;

}


/* RESPONSIVE */

@media screen and (max-width:600px) {

  .card-cover {
    background-image: url('https://imgbb.host/images/e6OB.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%; 
    animation-name: slideMove;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 0px;
   
  }

  


 
}
@media screen and (max-width:600px) {

  .card-cover {
    background-image: url('https://imgbb.host/images/e6OB.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%; 
    animation-name: slideMove;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 0px;
   
  }

  


 
}
@media screen and (max-width:600px) {

  .card-cover {
    background-image: url('https://imgbb.host/images/e6OB.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%; 
    animation-name: slideMove;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 0px;
   
  }

  


 
}
@media screen and (max-width:450px) {

  .card-cover {
    background-image: url('https://imgbb.host/images/e6OB.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%; 
    animation-name: slideMove;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 0px;
   
  }

  


 
}
@media screen and (max-width:600px) {

  .card-cover {
    background-image: url('https://imgbb.host/images/e6OB.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%; 
    animation-name: slideMove;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 0px;
   
  }
}



.btn{
  cursor:pointer;
    position:relative;
    padding:10px 20px;
    align-self: center;
    margin-left: 37%;
    background:white;
    font-size:28px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #fff;
      transition:all 1.5s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid #FFA33C;
      border-left:5px solid rgb(3, 225, 214);
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid #FFA33C;
      border-right:5px solid rgb(3, 225, 214);
    }
    &:hover{
      border-top-right-radius:0px;
      border-bottom-left-radius:0px;
      background:#FFA33C;
      color:rgb(255, 255, 255);
      &:before,&:after{
        
        width:100%;
        height:100%;
        border-color:white;
      }
    }
  }
  
 

  .custom-title{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px;
    font-family: Noto Sans, sans-serif; font-weight: 400; font-style: normal;
  }
  .loader-wrapper {
  
    transform: translate(-50%, -50%);
    width: 30px; /* Ancho deseado */
    height: 30px; /* Alto deseado */
  
    margin-left: 50%;
    margin-top: 20%;
    margin-bottom: 30%;
  }
  
  
  
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .packman {
    position: relative;
  }
  
  .loader-wrapper .packman::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: #FFA33C;
    border-radius: 100px 100px 0 0;
    transform: translate(-50%, -50%);
    animation: pac-top 0.5s linear infinite;
    transform-origin: center bottom;
  }
  
  .loader-wrapper .packman::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: #FFA33C;
    border-radius: 0 0 100px 100px;
    transform: translate(-50%, 50%);
    animation: pac-bot 0.5s linear infinite;
    transform-origin: center top;
  }
  
  .bi-fire {
    animation: fireAnimation 3s infinite;
    color: #FFA33C;
    margin-bottom: 10px;
  }
  
  @keyframes registerAnimation {
    0% { color: #ffffff; }
    50% { color: #000000; }
    100% { color: #ffffff; }
  }
  
  @keyframes pac-top {
    0% {
      transform: translate(-50%, -50%) rotate(0)
    }
  
    50% {
      transform: translate(-50%, -50%) rotate(-30deg)
    }
  
    100% {
      transform: translate(-50%, -50%) rotate(0)
    }
  }
  
  @keyframes pac-bot {
    0% {
      transform: translate(-50%, 50%) rotate(0)
    }
  
    50% {
      transform: translate(-50%, 50%) rotate(30deg)
    }
  
    100% {
      transform: translate(-50%, 50%) rotate(0)
    }
  }
  
  .dots .dot {
    position: absolute;
    z-index: -1;
    top: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
  }
  
  .dots .dot:nth-child(1) {
    left: 90px;
    animation: dot-stage1 0.5s infinite;
  }
  
  .dots .dot:nth-child(2) {
    left: 60px;
    animation: dot-stage1 0.5s infinite;
  }
  
  .dots .dot:nth-child(3) {
    left: 30px;
    animation: dot-stage1 0.5s infinite;
  }
  
  .dots .dot:nth-child(4) {
    left: 10px;
    animation: dot-stage2 0.5s infinite;
  }
  
  @keyframes dot-stage1 {
    0% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(-24px, 0);
    }
  }
  
  @keyframes dot-stage2 {
    0% {
      transform: scale(1);
    }
  
    5%, 100% {
      transform: scale(0);
    }
  }


