<div class="container-fluid">
  <div class="row">
    <div class="col mt-5 ">
      <div class="card card-cover rounded-4 shadow-lg bg-dark text-white">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="mt-2 mb-4 display-6 lh-1 fw-bold"></h3>
          <div class="reservation-info">
            <p> Reserva a nombre de: {{ bookingForm.get('title')?.value }}</p>
            <p> Fecha de reservación: {{ bookingForm.get('createDate')?.value  | date:'dd/MM/yy HH:mm'}}</p>
            <p> Numero de Clientes: {{ bookingForm.get('numUsers')?.value }}</p>
            <p>Observaciones: {{ bookingForm.get('observations')?.value }}</p>
            <p>Estado de reserva: {{ bookingForm.get('status')?.value }}</p>
            <p>Descuento: {{ bookingForm.get('discount')?.value }}</p>
            <p>Numero de mesa: {{ bookingForm.get('numTable')?.value }}</p>
            <p>Interior: {{ bookingForm.get('interior')?.value }}</p>
          </div>
          <ul class="d-flex list-unstyled mt-3">
            
          </ul>
        </div>
      </div>
    </div>
    <div class="col form-side">

      @if (isUpdate) {
      <h1 class="mt-5 mb-5  custom-title">Actualizar reserva existente con id {{bookingForm.get('title')?.value}}</h1>
      } @else {
      <h1 class="mt-5 mb-5  custom-title">Crear una nueva reserva</h1>
      }
      @if (restaurant ) {
        <h2 class="mt-5 mb-5  custom-title">Reserva de restaurant {{restaurant.name}}</h2>
      } @else {
        <h2 class="mt-5 mb-5  custom-title">Reserva de restaurant</h2>
      }

      <form [formGroup]="bookingForm" (ngSubmit)="save()">

        <input type="hidden" formControlName="id">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="title" formControlName="title">
          <label for="title">Titulo Reserva</label>
        </div>
        
        <div class="form-floating mb-3">
          <input type="datetime-local" class="form-control" id="createDate" formControlName="createDate">
          <label for="createDate">Fecha de Reservación.</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="numUsers" formControlName="numUsers" step="1">
          <label for="numUsers">Numero de Usuarios</label>
        </div>

        <div class="mb-3">
          <label for="observations" class="form-label">Observaciones de reserva</label>
          <input type="text" class="form-control" id="observations" formControlName="observations">
        </div>
        <div class="mb-3">
          <label for="discount" class="form-label">Descuento (%)</label>
          <input type="number" class="form-control" id="discount" formControlName="discount" step="1">
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="numTable" formControlName="numTable" step="1">
          <label for="numTable">Numero de mesa</label>
        </div>


 <!--
        <div class="form-floating mb-3">
          <select class="form-select" id="restaurant" formControlName="restaurant" [compareWith]="compareObjects">


    
            @if (restaurant) {
            <option [ngValue]="restaurant">{{restaurant.name}}</option>
            <label for="restaurant">Restaurant asociado</label>
            }

          </select>
         
        </div>-->

        <div class="form-floating mb-3">
          <select class="form-select" id="menu" formControlName="menu" [compareWith]="compareObjects">


            <!-- iterar sobre el array de authors mostrando cada uno -->
            @for (menu of menus; track menu.id) {
            <option [ngValue]="menu">{{menu.title}}</option>
            }

          </select>
          <label for="menu">Menu asociado</label>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" id="status" formControlName="status">
          <label class="form-check-label" for="status" style="cursor:pointer;">
            Reserva confirmada(sí o no)
          </label>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" id="interior" formControlName="interior">
          <label class="form-check-label" for="interior">
            Interior
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="isPremium" formControlName="isPremium"
            >
          <label class="form-check-label" for="isPremium">
            Salon VIP
          </label>
        </div>


        @if(vipRoom > 0) {
        <li class="list-group-item mb-5 d-flex justify-content-between lh-sm mt-3 ">
          <div>
            <h6 class="my-0">Servicio de comedor / salon privado.</h6>
            <small class="text-body-secondary">vip</small>
          </div>
          <span class="text-body-secondary" id="isPremium">{{vipRoom}} €</span>
        </li>
        }


        <div class="form floating mb-3 mt-3">
          <label for="extraService">Servicios Adicionales</label>
          <select class="form-select" id="extraService" formControlName="extraService" >
            <option value="Vallet Parking">Vallet Parking</option>
            <option value="Bar incluido">Bar incluido</option>
            <option value="Ropero">Ropero</option>
          </select>
          
        </div>

        @if (isUpdate) {

          
        <button class="btn" type="submit">Actualizar</button>
        } @else {
        <button class="btn " type="submit">Crear</button>
        }
      </form>
    </div>
  </div>
</div>