.custom-div {
  padding: 20px; 
  border: 3px solid rgba(0, 0, 0, 0.684); 
  width: 80%;
  text-align: center;
  align-items: center;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7B7263;  
  height: 90%;
 
}

.custom-calender{
  text-decoration: none;
  color: white;

}

.custom-col{

  margin: 50px auto;
  margin-left: 100px;
}
.custom-col .card {

  width: 80%;
  height: 60%;
}

.reservation-info {
  background-color: rgba(14, 14, 14, 0.379);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.reservation-info:hover {
  background-color: rgba(14, 14, 14, 0.6);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}
.reservation-info .p{

  margin: 10px 0;
  font-size: 16px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.custominput input[type=text].form-control,
.custominput input[type=date].form-control,
.custominput input[type=number].form-control {

  border: 2px #050105 solid;
  border-radius: 4px;
  background: white;
}

/* RESPONSIVE */

@media screen and (max-width:576px) {

  .custom-div{

    width: 100%;
    height: 100%;
  }

  .custom-col{

    margin: 50px auto;
    margin-left: 5px;
    width: 100%;
  }
 
}



.success-message {

  bottom: 10px;
  left: 50%;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}


