
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: filter 1s ease;
  }

  .card-img-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .25rem;
}

.card-img-overlay {
    position: relative;
    z-index: 1;
}


  .feature-icon-small {
    width: 3rem;
    height: 3rem;
  }
  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in;
  }
  
  .custom-title{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px;
    font-family: Noto Sans, sans-serif; font-weight: 400; font-style: normal;
  }

  a {
    color: rgb(255, 255, 255); 
    text-decoration: none; 
}
.horizontal-bars {
  width: 100%;
  height: 3px; 
  background-color: black; 
  margin-bottom: 1rem; 
}
.search{
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
  
}
.search-container {
  position: absolute;
  left: 0;
  z-index: 2000;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 25%;
  width: 50%;
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px; 

}

.search-container ul {
  list-style: none;
  padding: 0;
}

.search-container li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-container li:last-child {
  border-bottom: none;
}


.search-container li a {
  color: black;
  text-decoration: none;
}
.search-container input[type="search"] {
  outline: none; 
  text-decoration: none; 
}

.list-group-item {
  z-index: 5;
  cursor: pointer;
  border-bottom: 1px solid #000000;
  text-decoration: none;
  transition: 0.4s;
}
.list-group-item:hover {
  background-color: #1f1e1d;
  color: white;
}
.list-group-item a:visited {
  color: #0ae71c;
}
::ng-deep .search-container ::selection {
  background-color: transparent;
  color: inherit;
}

.card .list-unstyled {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card .list-unstyled li {
  display: flex;
  align-items: center;
}

.card .list-unstyled li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block; 
  max-width: 150px; 
}

.card .list-unstyled li i {
  flex-shrink: 0; 
  margin-right: 8px; 
}
@keyframes fireAnimation {
  0% { color: #f12d01; } /* Color inicial */
  50% { color: #FFD700; } /* Color intermedio */
  100% { color: #ff2f00; } /* Color final */
}

.loader-wrapper {
  
  transform: translate(-50%, -50%);
  width: 30px; /* Ancho deseado */
  height: 30px; /* Alto deseado */

  margin-left: 50%;
  margin-top: 20%;
  margin-bottom: 30%;
}



.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.packman {
  position: relative;
}

.loader-wrapper .packman::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #FFA33C;
  border-radius: 100px 100px 0 0;
  transform: translate(-50%, -50%);
  animation: pac-top 0.5s linear infinite;
  transform-origin: center bottom;
}

.loader-wrapper .packman::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #FFA33C;
  border-radius: 0 0 100px 100px;
  transform: translate(-50%, 50%);
  animation: pac-bot 0.5s linear infinite;
  transform-origin: center top;
}

.bi-fire {
  animation: fireAnimation 3s infinite;
  color: #FFA33C;
  margin-bottom: 10px;
}

@keyframes registerAnimation {
  0% { color: #ffffff; }
  50% { color: #000000; }
  100% { color: #ffffff; }
}

@keyframes pac-top {
  0% {
    transform: translate(-50%, -50%) rotate(0)
  }

  50% {
    transform: translate(-50%, -50%) rotate(-30deg)
  }

  100% {
    transform: translate(-50%, -50%) rotate(0)
  }
}

@keyframes pac-bot {
  0% {
    transform: translate(-50%, 50%) rotate(0)
  }

  50% {
    transform: translate(-50%, 50%) rotate(30deg)
  }

  100% {
    transform: translate(-50%, 50%) rotate(0)
  }
}

.dots .dot {
  position: absolute;
  z-index: -1;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
}

.dots .dot:nth-child(1) {
  left: 90px;
  animation: dot-stage1 0.5s infinite;
}

.dots .dot:nth-child(2) {
  left: 60px;
  animation: dot-stage1 0.5s infinite;
}

.dots .dot:nth-child(3) {
  left: 30px;
  animation: dot-stage1 0.5s infinite;
}

.dots .dot:nth-child(4) {
  left: 10px;
  animation: dot-stage2 0.5s infinite;
}

@keyframes dot-stage1 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-24px, 0);
  }
}

@keyframes dot-stage2 {
  0% {
    transform: scale(1);
  }

  5%, 100% {
    transform: scale(0);
  }
}



.bi-telephone-fill, .bi-star-fill, .bi-fire {
  animation: fireAnimation 3s infinite;
}
.btn-custom {
  background: linear-gradient(to right, #E85D04 , #03071E);
  transition: background-position 0.3s ease;
  color: white; 
  padding: 0px 10px;
  margin-right: 10px
  
}
