
.imagenFondo
{
  filter: drop-shadow(
    0 0 10px rgba(0,0,0, .8)
  );
}

body{
    animation: cambioDeColor 5s infinite alternate;
}

 #formdiv{
   
    background-color: white;
    font-style: normal;
    font-stretch: expanded;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0, .25);
 }
  
  .coolinput label.text {
    font-size: 1rem;
    color: black;
    font-weight: 650;
    position: relative;
    top: 0.5rem;
    padding: 0 3px;
    background:white;
    font-family: Noto Sans, sans-serif; font-weight: 400; font-style: normal;
    width: fit-content;
  }
  
  .coolinput input[type=text].input {
    padding: 10px 50px;
    font-size: 0.95rem;
    border: 2px #4b0f4a solid;
    border-radius: 4px;
    background: white;
  }
  
  .coolinput input[type=text].input:focus {
    outline: none;
    
  }
  
  /* boton de login */
  .custom-btn {
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: Noto Sans, sans-serif;
    font-weight: 500;
    color: white;
    background-color: #4b0f4a;
   }
   
   .custom-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .custom-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .custom-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .custom-btn::after {
    background-color: #fff;
   }
   
   .custom-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

   ul {
    font-size: 25px;
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 25px;
}
li {
    display: flex;
    align-items: center;
    font-weight: bold;
    filter: drop-shadow(
      0 0 2px rgba(0, 0, 0, .2)
    );
}
a {
    text-decoration: none;
    color: #000;

}
.instagram {
    color: #833ab4;
}
.google {
    color: #db4437;
}
.facebook {
    color: #3b5998;
}


  