.card-cover {
    position: relative;
    overflow: hidden;
    transition: transform 1s ease;
    margin-bottom: 10px; 
    max-height: 400px;
}
.card-img {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1; 
}
.image-container {
  height: 200px; 
}

.card-cover:hover {
    transform: scale(1.2); 
    z-index: 2; 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.474); 
}
.horizontal-bars {
  width: 100%;
  height: 3px; 
  background-color: black; 

}


#custom-cards h2 {
  margin-top: 1rem;
}



  

  .background-image{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
    
  }

.background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;


}
.card-img {
  width: 100%;
  height: auto; 
}

  .container-fluid.custom {
    position: relative;
    z-index: 1;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px;
  }
  th, td {
    padding-left: 1rem; 
    padding-right: 1rem; 
}
.btn{
    cursor:pointer;
      position:relative;
      padding:10px 20px;
      align-self: center;
      margin-left: 37%;
      background:rgba(255, 255, 255, 0.452);
      font-size:28px;
      border-top-right-radius:10px;
      border-bottom-left-radius:10px;
      transition:all 1s;
      &:after,&:before{
        content:" ";
        width:10px;
        height:10px;
        position:absolute;
        border :0px solid #fff;
        transition:all 1.5s;
        }
      &:after{
        top:-1px;
        left:-1px;
        border-top:5px solid rgb(0, 0, 0);
        border-left:5px solid rgb(0, 0, 0);
      }
      &:before{
        bottom:-1px;
        right:-1px;
        border-bottom:5px solid black;
        border-right:5px solid black;
      }
      &:hover{
        border-top-right-radius:0px;
        border-bottom-left-radius:0px;
        background:rgba(0, 0, 0, 0.5);
        color:rgb(255, 255, 255);
        &:before,&:after{
          
          width:100%;
          height:100%;
          border-color:white;
        }
      }
    }
  
  @keyframes show {
    
    from{
      opacity: 0.5;
      scale: 20%;
    }

    to{
      opacity: 1;
      scale: 80%;
    }
  }
  

  .custom-title{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px;
    font-family: Noto Sans, sans-serif; font-weight: 400; font-style: normal;
  }
  .text-with-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.971);
 
}
/* parte del filtro de busqueda */


/* Estilo para el contenedor del desplegable */

.search{
  margin-left: 100px;
  width: 30%;
}
.search-container {
  position: absolute;
  left: 0;
  z-index: 2000;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin-left: 100px;
  
 
}

/* Estilo para los elementos de la lista de resultados */
.search-container ul {
  list-style: none;
  padding: 0;
}

.search-container li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-container li:last-child {
  border-bottom: none;
}

/* Estilo para el texto dentro del desplegable */
.search-container li a {
  color: black;
  text-decoration: none;
}
.search-container input[type="search"] {
  outline: none; 
  text-decoration: none; 
}

.list-group-item {
  z-index: 5;
  cursor: pointer;
  border-bottom: 1px solid #000000;
  text-decoration: none;
  transition: 0.4s;
}
.list-group-item:hover {
  background-color: #1f1e1d;
  color: white;
}
.list-group-item a:visited {
  color: #e78f0a;
}
::ng-deep .search-container ::selection {
  background-color: transparent;
  color: inherit;
}
