
  <div class="img-welcome">
      <div class="background-image" [ngStyle]="{'background-image': 'url(' + getCurrentImage() + ')'}"></div>
      <div class="background-image upcoming" [ngStyle]="{'background-image': 'url(' + getUpcomingImage() + ')'}"></div>

      <div class="home-container">
          <div class="home-side-text">
              <h1>BITE BOOKING</h1>
              <p>Restaurant Html Template</p>
          </div>
          <div class="home-carousel">
              <app-carrusel></app-carrusel>
          </div>
      </div>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="10000">
    <section class="contenedor">
      <div class="card border border-0" style="width: 40rem;">
        <div class="card-body d-none d-md-block">
          <h5 class="card-title chef">Nosotros</h5>
          <p class="card-text italiana">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab sint praesentium illo,
               magnam eveniet esse architecto ducimus, veniam quasi eaque maiores ex velit ipsam dolorum est fuga
                voluptatum ad? Porro!</p>
        </div>
      </div>
    
      <div class="card primeraImagen" style="width: 30rem;">
        <img class="img-fluid img1 d-none d-md-block"
          src="https://tvazteca.brightspotcdn.com/dims4/default/bb1a31b/2147483647/strip/true/crop/850x850+350+0/resize/928x928!/format/jpg/quality/80/?url=http%3A%2F%2Ftv-azteca-brightspot.s3.amazonaws.com%2F23%2F09%2Faf6c24d94d5c9b50fd61aeba3492%2Frestaurantes-italianos-en-cdmx.jpg">
      </div>
    </section>
  </div>
  <div class="carousel-item">
    <section class="cardChef" >
      <img src="https://i.ibb.co/R40fgJn/bm-Ff-MTguan-Bn.jpg" class="card-img-top ps-0 d-none d-md-block"
        alt="Imagen de nuestro equipo">
        <div class="resumenChef d-none d-md-block">
        <h5 class="card-title nuestroChef">Nuestro equipo</h5>
        <p class="card-text textoChef">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Illum fugiat ab rem obcaecati. Perspiciatis rem in fugit consequuntur? Possimus, veritatis rem ex aut tempora repellendus! Dolore optio accusantium blanditiis repellendus!</p>
        </div>
  </section>
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>

<div class="video-background">
<div class="Video">
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="mivideo">
    <source src="http://localhost:4200/assets/video.mp4" type="video/mp4">
  </video>
</div>

<!-- Botón "Book Now" sobre el fondo de video -->
<button class="book-now-button">Book Now</button>
</div>

         
</div>
<section class="contenedor">
  <div class="card border border-0" style="width: 40rem;">
   
  </div>

  <div class="card primeraImagen" style="width: 30rem;">
    
  </div>
</section>
  




    



    

