
  <div class="img-welcome">
      <div class="background-image" [ngStyle]="{'background-image': 'url(' + getCurrentImage() + ')'}"></div>
      <div class="background-image upcoming" [ngStyle]="{'background-image': 'url(' + getUpcomingImage() + ')'}"></div>

      <div class="home-container">
          <div class="home-side-text">
              <h1>BITE BOOKING</h1>
              <p style="font-size: 20px">El Placer de todas las cosas</p>
          </div>
          <div class="home-carousel">
              <app-carrusel></app-carrusel>
          </div>
      </div>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="10000">
    <section class="card" >
      <img src="https://i.ibb.co/R40fgJn/bm-Ff-MTguan-Bn.jpg" class="card-img-top ps-0 d-none d-md-block"
        alt="Imagen de nuestro equipo">
        <div class="d-none d-md-block">
        <h5 class="card-title">Nuestro equipo</h5>
        <p class="card-text our">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Illum fugiat ab rem obcaecati. Perspiciatis rem in fugit consequuntur? Possimus, veritatis rem ex aut tempora repellendus! Dolore optio accusantium blanditiis repellendus!</p>
        </div>
  </section>
  </div>
  <div class="carousel-item">
    <section class="card" >
      <img src="https://i.ibb.co/R40fgJn/bm-Ff-MTguan-Bn.jpg" class="card-img-top ps-0 d-none d-md-block"
        alt="Imagen de nuestro equipo">
        <div class="resumenChef d-none d-md-block">
        <h5 class="card-title">Nuestra Vision</h5>
        <p class="card-text our">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Illum fugiat ab rem obcaecati. Perspiciatis rem in fugit consequuntur? Possimus, veritatis rem ex aut tempora repellendus! Dolore optio accusantium blanditiis repellendus!</p>
        </div>
  </section>
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>

<div class="video-background">
<div class="Video">
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="myvideo">
    <source src="http://localhost:4200/assets/video.mp4" type="video/mp4">
  </video>
</div>
<button class="book-now-button" routerLink="/user/login">Book Now</button>
</div>

         
</div>
<section class="container">
  <div class="card border border-0" style="width: 40rem;">
   
  </div>

  <div class="card" style="width: 30rem;">
    
  </div>
</section>
  




    



    

