
    <div class="text-center container-fluid img-welcome ">
        <div class="overlay"></div>
        <div class="content">
            <div class="skills-container">
                <div class="letters">
                    <h1>Bite booking</h1>
                    <h2>El placer de bitear - Descubre los mejores Restaurantes de tu Zona.</h2>
                </div>
                <div class="input-group custom-input-group justify-content-center">
                    <input type="search" class="form-control form-control-sm rounded custom-input" placeholder="Search"
                        aria-label="Search" aria-describedby="search-addon" style="max-width: 600px;" />
                    <button type="button" class="btn btn-outline-light" data-mdb-ripple-init>Buscar</button>
                </div>
                <div class="letters">
                    <h2>Categorias</h2>
                </div>
                <div class="skill">
                    <a href="https://html.spec.whatwg.org/multipage/">
                        <i class="fa-solid fa-ranking-star"></i>
                        <p>Ranking</p>
                    </a>
                </div>

                <div class="skill">
                    <a href="https://www.w3.org/Style/CSS/Overview.en.html">
                        <i class="fa-solid fa-percent"></i>
                        <p>Descuentos</p>
                    </a>
                </div>

                <div class="skill">
                    <a href="https://formacion.fundacionadecco.org/courses/fundamentos-de-programacion-java-ed1">
                        <i class="fa-solid fa-map"></i>
                        <p>Zona</p>
                    </a>
                </div>

                <div class="skill">
                    <a href="https://formacion.fundacionadecco.org/courses/control-de-versiones-con-git-java-ed1">
                        <i class="fa-solid fa-bowl-food"></i>
                        <p>Cocina</p>
                    </a>
                </div>
                <div class="skill">
                    <a href="https://formacion.fundacionadecco.org/courses/control-de-versiones-con-git-java-ed1">
                        <i class="fa-solid fa-bowl-food"></i>
                        <p>Brunch</p>
                    </a>
                </div>
                <div class="skill">
                    <a href="https://formacion.fundacionadecco.org/courses/control-de-versiones-con-git-java-ed1">
                        <i class="fa-solid fa-bowl-food"></i>
                        <p>Ver todos</p>
                    </a>
                </div>

            </div>
        </div>

    </div>
