
.skills-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 3;
    margin-bottom: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }
  
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 15px;
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 150px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    
  }
  
  .category:hover {
    transform: scale(1.2);
    box-shadow: 0 12px 8px rgba(0, 0, 0, 0.611);
    background-color: rgba(255, 255, 255, 0.7);
    color: #000000;
  }
  
  .category p {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    
  }
  .category .icon {
    color: black; 
    font-size: 30px;
  }
  
  .category .svg-inline--fa {
    font-size: 36px;
    color: rgb(0, 0, 0);
  }
  a {
    pointer-events: auto;
    text-decoration: none;
    

  }
.myvideo{
position: absolute;
background-attachment: fixed;
width: 100%;
left: 0;
top: 0;
height: 100%;
object-fit: cover;
z-index: -1;
}

  
  .img-welcome {
    position: relative;
    background-size: cover;
    background-position: center;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}

.content {
    position: relative;
    z-index: 2; 
}
.content {
  min-height: calc(100% - 10px); 
  padding-bottom: 10px; 
  position: relative;
}
.letters{
    font-family: roboto;
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

/* parte del filtro de busqueda */


/* Estilo para el contenedor del desplegable */

.search{
  margin-left: 200px;
  width: 60%;
  
}
.search-container {
  position: absolute;
  left: 0;
  z-index: 2000;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 400px;
  width: 42%;
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px; 

}

/* Estilo para los elementos de la lista de resultados */
.search-container ul {
  list-style: none;
  padding: 0;
}

.search-container li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-container li:last-child {
  border-bottom: none;
}

/* Estilo para el texto dentro del desplegable */
.search-container li a {
  color: black;
  text-decoration: none;
}
.search-container input[type="search"] {
  outline: none; 
  text-decoration: none; 
}

.list-group-item {
  z-index: 5;
  cursor: pointer;
  border-bottom: 1px solid #000000;
  text-decoration: none;
  transition: 0.4s;
}
.list-group-item:hover {
  background-color: #1f1e1d;
  color: white;
}
.list-group-item a:visited {
  color: #0ae71c;
}
::ng-deep .search-container ::selection {
  background-color: transparent;
  color: inherit;
}
.btn-primary {
  margin-bottom: 10px; 
}