
.skills-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 3;
    margin-bottom: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }
  
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 15px;
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 150px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    
  }
  
  .category:hover {
    transform: scale(1.2);
    box-shadow: 0 12px 8px rgba(0, 0, 0, 0.611);
    background-color: rgba(255, 255, 255, 0.7);
    color: #000000;
  }
  
  .category p {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    
  }
  .category .icon {
    color: black; 
    font-size: 30px;
  }
  
  .category .svg-inline--fa {
    font-size: 36px;
    color: rgb(0, 0, 0);
  }
  a {
    pointer-events: auto;
    text-decoration: none;
    

  }


  
  .img-welcome {
    position: relative;
    background-image: url(https://img.freepik.com/free-photo/tabletop-looking-out-empty-restaurant_23-2147701293.jpg);
    background-size: cover;
    background-position: center;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}

.content {
    position: relative;
    z-index: 2; 
}
.content {
  min-height: calc(100% - 10px); 
  padding-bottom: 10px; 
  position: relative;
}
.letters{
    font-family: roboto;
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
/* esto es lo que modifica los resultados en el filtro, cuidado aqui gente */
.list-group-item {
  cursor: pointer;
  border-bottom: 1px solid #000000; 
}
.list-group-item:hover {
  background-color: #db740e;
}
.btn-outline-primary{
  margin-top: 10px;
}
.list-group-item a:visited {
  color: #e78f0a;
}