.tipos-de-cocina {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre los items */
    padding: 20px;
  }
  
  .tipo-de-cocina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; /* Ajusta el ancho según tu diseño */
    border: 1px solid #ccc; /* Bordes sutiles */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que todo el contenido se ajuste al borde redondeado */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .tipo-de-cocina:hover {
    transform: translateY(-5px); /* Efecto flotante al pasar el mouse */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Sombra más pronunciada al pasar el mouse */
  }
  
  .tipo-de-cocina img {
    width: 100%;
    height: 150px; /* Altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
  }
  
  .tipo-de-cocina h3 {
    margin: 10px 0; /* Espacio arriba y abajo del título */
    color: #333; /* Color de texto oscuro para mayor legibilidad */
    font-size: 1.2em; /* Tamaño de fuente ligeramente más grande */
  }
  